<!DOCTYPE html>
<html>
  <head>
    <title><%= project %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      prompt("Executando no navegador");
    </script>
  </head>
  <body>
    <h1>Welcome to project <%= project %></h1>
    <h2><%= ano %></h2>
  </body>

</html>
